@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: 243, 243, 243;
  --secondary-bg-color: 137, 215, 249;
  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 255, 255, 255;
}

body {
  background-color: rgb(var(--primary-bg-color));
  min-height: 100vh;
  color: rgb(var(--primary-text-color))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
