@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: 240, 240, 240;
  --secondary-bg-color: 219, 234, 254;
  --primary-text-color: 36, 35, 37;
  --secondary-text-color: 179, 179, 179;
  --color-splash: 207, 204, 165;
  --page-border-w: 20px
}

body {
  background-color: rgb(var(--primary-bg-color));
  min-height: 100vh;
  color: rgb(var(--primary-text-color))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-fade-in {
    @apply 
      transition-[background-size]
      ease-in-out
      duration-300
      delay-150
      bg-no-repeat
      bg-gradient-to-b
      bg-[0_100%]
      from-color-splash
      to-color-splash
      bg-[length:100%_0]
      hover:bg-[length:100%_100%]
      rounded-sm
  }

  .card-pop-out {
    @apply
      transition-all
      hover:shadow-lg
      hover:bg-slate-200
      hover:-translate-y-1
      hover:translate-x-1
      ease-in-out
      delay-100
      duration-200
  }
}
